.card-drinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  margin-left: 140px;
  width: 400px;

}

div::-webkit-scrollbar {
  display: none;
}

.drink-page {
  height: 80%;
  overflow: auto;
}