.card-foods {
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: 100px;
    margin-left: 120px;
    width: 400px;
    justify-content: space-between;
  }

  .food-page {
    height: 80%;
  }
