  .header-drinks, .header-foods, .header-explore, .header-perfil {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    position: fixed;
    top: 0;
    color: #FFD789;
    background-color: #242527;
  }

  .header-foods, .header-drinks {
    margin-left: -20px;
    margin-top: 20px;
    width: 400px;
  }

  .header-perfil, .header-explore {
    margin-left: -45px;
    margin-top: 20px;
    width: 400px;
  }

  h1 {
    font-size: 30px;
  }

  /* .page-title {

  } */
